@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./assets/img/03.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

header{
    -webkit-transform: translateZ(0);
}

